[Unit]
Description=Prometheus exporter for HTTP(S) status
Requires=network-online.target
After=network-online.target

[Service]
User=node_exporter
Group=node_exporter
Restart=on-failure
ExecStart=/usr/bin/python3 /usr/local/lib/prometheus_http_status_exporter/main.py
WorkingDirectory=/usr/local/lib/prometheus_http_status_exporter
NoNewPrivileges=true
ProtectHome=read-only
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
